@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/admin.css" rel="stylesheet" />
    <title>Admin | do everything you want</title>
</head>
<body>
    <div class="list">
        <h2>You are <span class="strong">ADMIN</span> at our site</h2>
        <h3>+horror and cookies</h3>
        <div>
            You may do smth with this mortals:
            <ol>
                <li><a href="~/Pages/Admin/User/showAllUsers.cshtml">Users</a></li>
                <li><a href="~/Pages/Admin/Award/showAllAwards.cshtml">Awards</a></li>
                <li><a href="~/Pages/Admin/Login/showLogin.cshtml">Awards</a></li>
            </ol>
        </div>
    </div>
</body>
</html>
