@using Epam.Task7.Entities;
@using Epam.Task7.Common;
@using Epam.Task7.DAL;

<link href="~/CSS/userguest.css" rel="stylesheet" />

<div>
    <h2>You are <span class="strong">GUEST</span> at our site</h2>
    
    @{
        var userLogic = Dependencies.UserLogic;
        var list = userLogic.GetAll();

        @:At all <span class="strong">@list.Count()</span> users: <br />
    if (list.Count<User>() > 0)
    {
        @:<ol>
            foreach (var item in list)
            {
                @:<li> @item </li>
            }
        @:</ol>
    }
    else
    {
        @:No users in the list;
    }
    FilesDao.Add(userLogic.GetAll());
}
</div>