a {
    color: #66d9ff;
    text-decoration: none;
    font-weight: normal;
    font-family: Consolas;
}

a:hover {
    color: white;
    background-color: #00005c;
}

.strong {
    color: #66d9ff;
}

table{
    border: 0;
    text-align: left;
}

ul li {
    list-style-type: disc;
}

input[type="number"]{
    margin: 5px;
    width: 80px;
    height: 20px;
    border: 1px solid #9db1cc;
    border-radius: 3px;
}

input[type="text"] {
    margin: 5px;
    height: 20px;
    border: 1px solid #9db1cc;
    border-radius: 3px;
}

button {
    margin: 5px;
    width: 100px;
    height: 30px;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: Consolas;
    background: #00005c;
    border-radius: 3px;
}

.item {
    color: white;
}

.list {
    margin: 10px auto;
    padding: 50px;
    width: 400px;
    color: #007dff;
    font-family: Consolas;
    font-weight: bold;
    background: #00008b;
    border-radius: 10px;
}

.listtable {
    margin: 10px auto;
    padding: 50px;
    width: 800px;
    color: #007dff;
    font-family: Consolas;
    font-weight: bold;
    background: #00008b;
    border-radius: 10px;
}

.update{
    color: white;
    font-weight: bold;
}