USE [master]
GO
/****** Object:  Database [usersawards]    Script Date: 17.02.2019 1:51:32 ******/
CREATE DATABASE [usersawards]
 CONTAINMENT = NONE
 
ALTER DATABASE [usersawards] SET COMPATIBILITY_LEVEL = 130
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [usersawards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [usersawards]
GO
USE [usersawards]
GO
/****** Object:  Table [dbo].[award]    Script Date: 17.02.2019 1:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[award](
	[id_award] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NULL,
 CONSTRAINT [PK_award] PRIMARY KEY CLUSTERED 
(
	[id_award] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[logins]    Script Date: 17.02.2019 1:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logins](
	[login] [nvarchar](100) NOT NULL,
	[pasword] [nvarchar](50) NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_logins] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[useraward]    Script Date: 17.02.2019 1:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[useraward](
	[id_user] [int] NULL,
	[id_award] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 17.02.2019 1:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[birth] [date] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[award] ON 

INSERT [dbo].[award] ([id_award], [title]) VALUES (1, N'Biology Award')
INSERT [dbo].[award] ([id_award], [title]) VALUES (2, N'Information Security Award for Bears')
INSERT [dbo].[award] ([id_award], [title]) VALUES (3, N'Igor Award')
SET IDENTITY_INSERT [dbo].[award] OFF
INSERT [dbo].[logins] ([login], [pasword], [role]) VALUES (N'admin', N'admin', N'admin')
INSERT [dbo].[logins] ([login], [pasword], [role]) VALUES (N'aquarelcat', N'aquarelcat', N'user')
INSERT [dbo].[logins] ([login], [pasword], [role]) VALUES (N'god', NULL, N'user')
INSERT [dbo].[useraward] ([id_user], [id_award]) VALUES (1, 1)
INSERT [dbo].[useraward] ([id_user], [id_award]) VALUES (1, 2)
INSERT [dbo].[useraward] ([id_user], [id_award]) VALUES (1, 4)
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id_user], [name], [birth]) VALUES (1, N'Dasha', CAST(N'1996-03-20' AS Date))
INSERT [dbo].[users] ([id_user], [name], [birth]) VALUES (2, N'Alan', CAST(N'1996-11-30' AS Date))
INSERT [dbo].[users] ([id_user], [name], [birth]) VALUES (4, N'Jerk228', CAST(N'1988-08-22' AS Date))
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[useraward]  WITH CHECK ADD  CONSTRAINT [FK_useraward_award] FOREIGN KEY([id_award])
REFERENCES [dbo].[award] ([id_award])
GO
ALTER TABLE [dbo].[useraward] CHECK CONSTRAINT [FK_useraward_award]
GO
ALTER TABLE [dbo].[useraward]  WITH CHECK ADD  CONSTRAINT [FK_useraward_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[useraward] CHECK CONSTRAINT [FK_useraward_users]
GO
USE [master]
GO
