
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/index.css" rel="stylesheet" />
    <title>App for CRUD User-Award | Your foes - our clients</title>
</head>
<body>
    @RenderPage("~/Pages/Common/_index.cshtml")
</body>
</html>
