@using Epam.Task7.Common;
@using Epam.Task7.Entities;
@using Epam.Task7.DAL;

<link href="~/CSS/admin.css" rel="stylesheet" />
<form action="~/Pages/Admin/Login/addLogin.cshtml" method="post">
    <label>Enter Login that pretended to be added: </label><br />
    <input type="text" name="nam" id="nam" /><br />
    <label>Enter Password For Login: </label><br />
    <input type="text" name="pas" id="pas" /><br />
    <label>Enter Role For Login (type "admin" or "user"): </label><br />
    <input type="text" name="rol" id="rol" /><br />
    <!--<input type="file" accept="image/jpeg,image/png,image/gif"  name="fil" id="fil" />-->
    <button type="submit">Add new Login</button>
    <a href="~/Pages/Admin/Login/addLogin.cshtml" class="update">Update the list</a>
</form>
@{
    /*
    OpenFileDialog openDialog = new OpenFileDialog();
    openDialog.Filter = "Файлы изображений|*.bmp;*.png;*.jpg";
    if (openDialog.ShowDialog() != DialogResult.OK)
    return;
    image = Image.FromFile(openDialog.FileName);
     */
    var loginLogic = Dependencies.LoginLogic;
    loginLogic.Read();

    if (IsPost)
    {
        string nam = Request.Params["nam"];
        string pas = Request.Params["pas"];
        string rol = Request.Params["rol"];
        if (nam != "" && rol !="")
        {
            Login user = new Login(nam, pas, rol);
            loginLogic.AddToFileNewUser(user);
        }
        nam = "";
        pas = "";
        rol = "";
        Response.Redirect("~/Pages/Admin/Login/addLogin.cshtml");
    }
}
