@using Epam.Task7.Common;
@using Epam.Task7.Entities;
@using Epam.Task7.DAL;

<link href="~/CSS/admin.css" rel="stylesheet" />
<form action="~/Pages/Admin/Login/changeLogin.cshtml" method="post">
    <label>Enter the number of Login that pretended to be changeded: </label><br />
    <input type="number" name="num" id="num" />
    <button type="submit">Change Login</button>
    <a href="~/Pages/Admin/Login/changeLogin.cshtml" class="update">Update the list</a>
    <br />
    <label>Changed Login: </label><br />
    <input type="text" name="nam" id="nam" /><br />
    <label>Changed password: </label><br />
    <input type="text" name="pas" id="pas" /><br />
    <label>Changed Role (type "admin" or "user"): </label><br />
    <input type="text" name="rol" id="rol" /><br />

</form>
@{
    var loginLogic = Dependencies.LoginLogic;
    loginLogic.Read();

    if (IsPost)
    {
        int num = int.Parse(Request.Params["num"]);

        string nam = Request.Params["nam"];
        string pas = Request.Params["pas"];
        string rol = Request.Params["rol"];
        if (nam != "" && rol != "")
        {
            Login user = new Login(nam, pas, rol);
            loginLogic.AddToFileNewUser(user);
        }
        if (num >= 0 && num <= LoginDBDao.usersList.Count())
        {
            Login user = loginLogic.GetByNo(num);
            loginLogic.Change(num, nam == "" ? user.Name : nam, pas, rol == "" ? user.Role : rol);

        }
        nam = "";
        pas = "";
        rol = "";
        Response.Redirect("~/Pages/Admin/Login/changeLogin.cshtml");

    }
}
