@using Epam.Task7.Common;
@using Epam.Task7.Entities;
@using Epam.Task7.DAL;

<link href="~/CSS/admin.css" rel="stylesheet" />
<form action="~/Pages/Admin/Login/removeLogin.cshtml" method="post">
    <label>Enter the number of Login that pretended to be deleted: </label> <br />
    <input type="number" name="num1" id="num1" /><br />
    <button type="submit">Delete Login</button>
    <a href="~/Pages/Admin/Login/removeLogin.cshtml" class="update">Update the list</a>
    <br />
</form>
@{
    var loginLogic = Dependencies.LoginLogic;
    loginLogic.Read();

    if (IsPost)
    {
        int num1 = int.Parse(Request.Params["num1"]);
        if (num1 >= 0 && num1 <= LoginDBDao.usersList.Count())
        {
            Login user = loginLogic.GetByNo(num1);
            loginLogic.Delete(user);
            num1 = -1;
        }

        Response.Redirect("~/Pages/Admin/Login/removeLogin.cshtml");
    }
}
