@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/admin.css" rel="stylesheet" />
    <title>Admin demands: change Login, !#$%^* !</title>
</head>
<body>
    <div class="list">
        <h2>You are <span class="strong">ADMIN</span> (Lord and Master of everything)</h2>
        <div>
            @RenderPage("~/Pages/Admin/Login/_showLogin.cshtml")
            @RenderPage("~/Pages/Admin/Login/_changeLogin.cshtml")
            <div>
                <span class="strong">You may:</span><br />
                <a href="~/Pages/Admin/Login/addLogin.cshtml">Add Login</a>|
                <a href="~/Pages/Admin/Login/removeLogin.cshtml">Remove Login</a>
            </div>
            <br />
            <a href="~/Pages/Admin/index.cshtml">back to <del>USSR</del> menu</a>
        </div>
    </div>
</body>
</html>
