.content{
    margin:10px;
	font-size: 18px;
}

.menu li{
    list-style: none;
    display: inline-block;
    position: relative;
}

.menu li a{
    padding: 5px 7px;
    text-decoration: none;
	color: #007dff;
    display: block;
}

.menu .li:hover{
	border-radius: 5px 5px 0 0;
	box-shadow: 
	0 2px 2px 0 white,
    2px 0 2px 0 #bababa,
    -2px 0 2px 0 #bababa,
    0 -1px 2px 0 #bababa;
}

.menu li:hover a{
	color: black;
}

.menu li li{
    padding: 5px 7px;
    text-decoration: none;
    display: block;
}

.menu li ul{
    display: none;
    position: absolute;
    padding-left: 0;
	width: 200px;
}

.menu li:hover .submenu{
    display:block;
    box-shadow:0 0 5px 2px #b9b9b9;
}

.menu li:hover ul a{
    display:block;
    left:0px;
	color: #007dff;
}

.menu li:hover li:hover a{
    display:block;
    left:0px;
	background-color: #007dff;
	color: white;
}