USE [master]
GO
/****** Object:  Database [usersawards]    Script Date: 14.02.2019 19:11:55 ******/
CREATE DATABASE [usersawards]
 CONTAINMENT = NONE

ALTER DATABASE [usersawards] SET COMPATIBILITY_LEVEL = 130
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [usersawards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [usersawards]
GO
USE [usersawards]
GO
/****** Object:  Table [dbo].[award]    Script Date: 14.02.2019 19:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[award](
	[id_award] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NULL,
 CONSTRAINT [PK_award] PRIMARY KEY CLUSTERED 
(
	[id_award] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[logins]    Script Date: 14.02.2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logins](
	[login] [nvarchar](100) NOT NULL,
	[pasword] [nvarchar](50) NULL,
	[role] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[useraward]    Script Date: 14.02.2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[useraward](
	[id_user] [int] NULL,
	[id_award] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 14.02.2019 19:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[birth] [date] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[useraward]  WITH CHECK ADD  CONSTRAINT [FK_useraward_award] FOREIGN KEY([id_award])
REFERENCES [dbo].[award] ([id_award])
GO
ALTER TABLE [dbo].[useraward] CHECK CONSTRAINT [FK_useraward_award]
GO
ALTER TABLE [dbo].[useraward]  WITH CHECK ADD  CONSTRAINT [FK_useraward_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[useraward] CHECK CONSTRAINT [FK_useraward_users]
GO
USE [master]
GO
