@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/index.css" rel="stylesheet" />
    <title>Registration</title>
</head>
<body>
    <div>
    @RenderPage("~/Pages/Common/_registration.cshtml")
    </div>
</body>
</html>
