@using Epam.Task7.Common;
@using Epam.Task7.Entities;
@using Epam.Task7.DAL;

<form action="~/Pages/Admin/Award/deleteFromUser.cshtml" method="post">
    <label>Enter number of <span class="strong">user</span> whom pretended to be removed: </label><br />
    <input type="number" name="numuser" id="numuser" /><br />
    <label>Enter number of <span class="strong">award</span> that pretended to be removed: </label><br />
    <input type="number" name="numaward" id="numaward" /><br />
    <button type="submit">Remove</button>
    <a href="~/Pages/Admin/Award/deleteFromUser.cshtml" class="update">Update the list</a>
</form>
@{
    var awardLogic = Dependencies.AwardLogic;
    var users = Dependencies.UserLogic;
    if (IsPost)
    {
        int numuser = int.Parse(Request.Params["numuser"]);
        int numaward = int.Parse(Request.Params["numaward"]);
        if (numaward >= 0 && numaward <= awardLogic.GetAll().Count() && numuser >= 0 && numuser <= users.GetAll().Count())
        {
            awardLogic.Delete(Dependencies.UserLogic.GetByNo(numuser), awardLogic.GetByNo(numaward).Id);
        }

        Response.Redirect("~/Pages/Admin/Award/deleteFromUser.cshtml");
    }
}
