@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/admin.css" rel="stylesheet" />
    <title>Admin demands: remove Award from User, !#$%^* !</title>
</head>
<body>
    <div class="listtable">
        <h2>You are <span class="strong">ADMIN</span> (Lord and Master of everything)</h2>
        <table>
            <tr>
                <td style="float: left;">@RenderPage("~/Pages/Admin/Award/_showAward.cshtml")</td>
                <td style="float: right;">@RenderPage("~/Pages/Admin/User/_showUsers.cshtml")</td>
            </tr>
        </table>
        @RenderPage("~/Pages/Admin/Award/_deleteFromUser.cshtml")
        <div>
            <span class="strong">You may:</span><br />
            <a href="~/Pages/Admin/Award/addAward.cshtml">Add award to List</a>|
            <a href="~/Pages/Admin/Award/changeAward.cshtml">Change Award</a>|
            <a href="~/Pages/Admin/Award/removeAward.cshtml">Remove Award</a>|
            <a href="~/Pages/Admin/Award/addAwardToUser.cshtml">Add award to User</a>|
        </div>
        <br />
        <a href="~/Pages/Admin/index.cshtml">back to <del>USSR</del> menu</a>
    </div>
</body>
</html>
