button{
	height: 24px;
	border: 1px solid black;
    border-radius: 10px; 
}

input[type="text"]{
	height: 24px;
	border: 1px solid black;
	border-radius: 3px;
}

form{
	margin: 20px;
	padding: 20px;
	background-color: #afdafc;
	border: 1px solid black;
	border-radius: 10px;
}

.title{
	margin: 20px;
	padding: 20px;
	background-color: #9999ff;
	border: 1px solid black;
	border-radius: 10px;
}

.container{
	margin: 20px;
	padding: 20px;
	background-color: #e0ffff;
}

